Repository inventree/inventree-website, pull requests merged in 2023-01, with the labels that each got.

#84 Adds 2023 blog entry
  _posts/2023-01-02-upcoming.md
  assets/blog/world-map.png
Labels: blog

#99 Add netlify badge to Readme
  README.md
Labels: enhancement

#100 Fix stats section hitting API limit
  .github/get_stats.py
  .github/workflows/get_stats.yml
Labels: bug

#101 Respect users DNT settings
  _layouts/default.html
Labels: bug

#103 Fix publisher section
  _data/team.yml
  _layouts/publisher.html
  _repo/shopify.md
  about/team.html
  about/team.md
Labels: bug, enhancement

#106 Move lookup and link to partials
  _includes/partial/publisher_link.html
  _layouts/collection/collection_base.html
  _layouts/collection/collection_index.html
Labels: bug

#109 Add cups plugin
  extend/plugin/index.md
Labels: enhancement, plugin

#105 Add avatars to team section
  _includes/block/team.html
  _layouts/publisher.html
Labels: enhancement

#110 Add plugin repo
  README.md
  _config.yml
  _data/general/footer.yml
  _includes/block/plugins.html
  _includes/plugin_card.html
  _layouts/collection/collection_refpage.html
  _layouts/plugin.html
  _layouts/plugin_highlight.html
  _plugins/author_permalink.rb
  _plugins/hook-add-last-modified-date.rb
  _publishers/_template.md
  _repo/_template.md
  _repo/inventree-apprise.md
  _repo/shopify.md
  assets/index.css
  categories.html
  extend/plugin/index.md
  index.md
  plugins.html
  tags.html
  use/maker.md
Labels: enhancement, plugin

#113 [REPO] Add plugin inventree-brother-plugin
  _layouts/plugin.html
  _news/2022-11-14-website.md
  _news/2022-12-12-0.9.0.md
  _posts/2021-11-22-translation.md
  _posts/2022-12-12-0.9.0.md
  _posts/2023-01-02-upcoming.md
  _publishers/schrodingersgat.md
  _repo/inventree-brother-plugin.md
Labels: plugin

#114 Add plugin workflow
  .github/collect_plugin.py
  .github/workflows/collect_plugin.yml
Labels: plugin

#120 [REPO] inventree-brother-plugin - add more links
  _repo/inventree-brother-plugin.md
Labels: plugin

#117 [REPO] Add inventree-zebra-plugin
  _publishers/SergeoLacruz.md
  _repo/inventree-zebra-plugin.md
Labels: plugin

#119 [REPO] Add inventree-cups-plugin
  _publishers/wolflu05.md
  _repo/inventree-cups-plugin.md
Labels: plugin

#124 [Blog] Add plugin list + news
  _news/2023-01-30-introducing-the-plugin-list.md
  _posts/2023-01-30-plugin-list.md
Labels: blog, news

#125 Feat/check links
  .github/workflows/deploy.yml
  Gemfile
  Gemfile.lock
  _data/functions/extras.yml
  _includes/base/footer.html
  _includes/block/features.html
  _includes/partial/newsletter.html
  _layouts/collection/collection_index.html
  _news/2022-11-14-website.md
  _posts/2021-11-22-translation.md
  _posts/2023-01-02-upcoming.md
  _publishers/SergeoLacruz.md
  deploy.md
  extend/app.md
  extend/index.md
  support.md
  use/maker.md
Labels: enhancement
